#contact {
	background-color: @darckblue;
	color: @white;
	font-size: 14px;
	

	& a{
		color: @white;
		text-decoration: none;
		&:hover,
		&:focus {
			color: #FF9900;
		}
	}
}
footer .glyphicon {
	margin-right: 20px;
}
h2.footer__head {
	font-size: 18px;
	color: #fff;
	line-height: 1.5;

	&:before,
	&:after {
		display:none;
	}
	@media (min-width: 480px){
		font-size: 26px;
	}
	@media (min-width: 768px){
		font-size: 28px;
	}
}
footer a {
	display: inline-block;
	margin-bottom: 20px;
}