#how-wee-work {
  position: relative;
  
  background: url("../img/bg/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  & h2.section__head {
    position: relative;
    z-index: 20;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
     background-color:  rgba(0, 0, 0, .4);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}
.how-wee-work__row {
  
  padding-top: 20px;
  padding-bottom: 25px;
}

h2.how-wee-work__head {
  margin-bottom: 90px;
  width: 90%;
  @media(min-width: 600px){
    width: 60%;
  }
}
div.item {
  margin-bottom: 40px;

  & h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  font-style: italic;
  color: #FFF;
     @media(min-width: 600px){
       font-size: 26px;
      line-height: 36px;
  }
  @media(min-width: 768px){
       font-size: 30px;
      line-height: 40px;
  }
  @media(min-width: 9920px){
       font-size: 34px;
      line-height: 46px;
   }

  }
}
div.owl-carousel {
  position: relative;
  z-index:20;
}

div.owl-theme div.owl-dots div.owl-dot span {
  display: block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
@media (min-width: 480px) {
  div.owl-theme div.owl-dots div.owl-dot span {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #777;
  }
}
div.owl-theme div.owl-dots div.owl-dot {
  position: relative;
}
div.owl-theme div.owl-dots div.owl-dot:not(:last-child)::before {
  display: block;
  content: "";
  /*background: url('../img/right.png');
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #777;*/
  width: 10px;
  height: 1px;
  position: absolute;
  right: -3px;
  top: 50%;
  background-color: #777;
}
@media (min-width: 480px) {
  div.owl-theme div.owl-dots div.owl-dot:not(:last-child)::before {
    width: 20px;
  }
}


   

div.owl-theme div.owl-dots div.owl-dot{
  position: relative;
  

}

  div.owl-theme div.owl-dots div.owl-dot:not(:last-child)::before {
    display: none;
     @media(min-width: 768px){
    display: block;
    content: "";
    /*background: url('../img/right.png');
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #777;*/
    width: 20px;
    height: 1px;
    position: absolute;
    right: -3px;
    top:50%;
    background-color: #777;
    }
  }
  

  /*ставим по бокам иконки next and prew*/
.owl-prev i, .owl-next i {
    color: white;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.owl-prev {
    left: 5px;
}
.owl-next {
    right: 5px;
}
  /*//ставим по бокам иконки next and prew*/

  /*блок с цифрами под точками пагинации*/
.dot-number {
  display: none;
     @media(min-width: 768px){
  display: inline-block;
  padding-left: 20px;
  }
}
span.item-number {
  font-size: 20px;
  font-weight: 700;
  margin-right: 34px;
  color: #777;
}
/*слайдер с отзывами*/
#reviews div.owl-theme div.owl-dots {
  display: none;
}