.object {
	position: relative;
	z-index: 20;
	background-color: @darckblue;
	padding: 20px;
}
#contact-form input {
	display:block;
	margin-bottom: 25px;
	padding: 10px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
#contact-form input:focus {
	border-color: red;
}
#contact-form p {
	font-size: 16px;
	color: @white;
}

.btn {
	background: transparent;
	border: 2px solid #fff;
	border-radius: 30px;
    color: #FFF;
    text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	
	&:hover,
	&:focus {
		background-color: #FFF;
		color: @darckblue;
		outline: none !important;
	}

}
p.form__head {
	margin-bottom: 25px;
}
/*********************/
/*окно благодарность*/
.contact-form__success {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  line-height: 34px;
  width: 100%;
  height: auto;
  background-color: #f3f8fb;
  color: #333333;
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
#answer {
  font-size: 0;
}
/****************************/